<div width="600px">
    <h3>Certificados</h3>
    <div id="textalign">
        <ul *ngFor="let certif of certifications">
            <li>
                <tr>
                    {{certif.cerfificacion}} 
                </tr>
            </li>
        </ul>
    </div>

    <div id="center">
        <div>
            <a href="https://firebasestorage.googleapis.com/v0/b/aldocv-fb0fc.appspot.com/o/Certificado%20Python%20Kaggle.png?alt=media&token=5572e887-4255-4230-a2e5-db31abec3bbc" target="_blank">
                <img src="https://firebasestorage.googleapis.com/v0/b/aldocv-fb0fc.appspot.com/o/Certificado%20Python%20Kaggle.png?alt=media&token=5572e887-4255-4230-a2e5-db31abec3bbc">
            </a>
        </div>
        <div>
            <a href="https://firebasestorage.googleapis.com/v0/b/aldocv-fb0fc.appspot.com/o/Certificado%20Pandas%20Aldo%20TR.png?alt=media&token=6df92324-8e68-4a78-a5a3-15895b409065" target="_blank">
                <img src="https://firebasestorage.googleapis.com/v0/b/aldocv-fb0fc.appspot.com/o/Certificado%20Pandas%20Aldo%20TR.png?alt=media&token=6df92324-8e68-4a78-a5a3-15895b409065">
            </a>
        </div>
    </div>
</div>